* {
  /*border: 1px solid #ccc;*/
  font-family: 'Arial Rounded MT Bold', Arial;
  color: #5E807F;
}

.what-a-body {
  font-family: 'Arial Rounded MT Bold', Arial;
  background-color: #F5CB5C;
  padding: 5px;
}

h3 {
  text-decoration: underline;
  margin-left: 2px;
}

button {
  border: 0;
  background-color: inherit;
}

li {
  font-size: 5px;
  margin-left: 4px;

}



.header {
  font-family: 'Arial Rounded MT Bold', Arial;
  text-align: center;
  background-color: #F5CB5C;
}

.add-item {
  font-family: 'Arial Rounded MT Bold', Arial;
  background-color: #17B890;
}

.add-item-input {
  font-family: 'Arial Rounded MT Bold', Arial;
}

.text-input {
  font-family: 'Arial Rounded MT Bold', Arial;
  background-color: #17B890;
  color: #5E807F;
  width: 99%;
  border: 0px;
  text-align: center;
}

.form-holder {
  font-family: 'Arial Rounded MT Bold', Arial;
}

.section-title{
  margin-left: 2px;
}

.to-do, .done {
  font-family: 'Arial Rounded MT Bold', Arial;
  background-color: #9DC5BB;
}

.to-do-item, .done-item {
  margin-left: 4px;
  font-size: 10px;
}

.tick {
  border: 3px;
}

.done {
  padding-bottom: 4px;
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-input-placeholder {
   color: #DEE5E5;
   font-size: 10px;
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   color: #DEE5E5;
   font-size: 10px;
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #DEE5E5;
   font-size: 10px;
   text-align: center;
}

:-ms-input-placeholder {
   color: #DEE5E5;
   font-size: 10px;
   text-align: center;
}
